<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <Http name="HTTP" url="http://localhost:9200/logs/_doc" ignoreExceptions="true">
            <JsonLayout compact="true"/>
            <SslConfig verifyHostnames="false"/>
        </Http>
        <File name="FILE" fileName="${env:LOG_FILE_PATH}/hali-file-appender.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="HTTP"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
